<!--header-->
<header class="cover-img" [ngStyle]="bgImage">
    <!--info-->
    <div class="shadow">
        <!--go back btn-->
        <button class="arrow-button" type="button" (click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

        <!--city's name-->
        <h1 class="city-name">{{cityName}}</h1>
        <!--description-->
        <p class="city-desc" [innerHTML]="citySummary"></p>
        <p class="city-score">Teleport city score: {{teleportCityScore}}%</p>
    </div>
</header>

<!--scores-->
<div>
    <ul class="list-group">
        <!--score info-->
        
        <li *ngFor="let cityScore of cityScores" class="score-info">
                <!--score bar-->
                <div class="total-width"></div>
                <!--actual score-->
                <div class="score" [style.width.rem]="cityScore.score_out_of_10"></div>
            <p class="score-name">{{cityScore.name}} {{Math.round(cityScore.score_out_of_10)}}/10</p>
        </li>

    </ul>
</div>