li {
  list-style-type: square;
  font-weight: var(--fw-semibold);
}

.link {
  cursor: pointer;
  color: var(--clr-primary-400);
  text-decoration: underline;
}

.link:hover {
  color: var(--clr-primary-300);
}

.link:visited {
  color: var(--clr-secondary-200);
}

.city-info {
  text-align: right;
  padding-left: 0.5rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  font-style: italic;
  color: var(--clr-primary-200);

}

@media screen and (min-width: 992px) {
  ul {
    columns: 2;
  }
}