/* You can add global styles to this file, and also import other style files */
:root {

    /*colours*/
    --clr-primary-100: rgb(255, 251, 247);
    --clr-primary-200: rgb(247, 173, 112);
    --clr-primary-300: rgb(255, 154, 72);
    --clr-primary-400: rgb(255, 135, 36);

    --clr-secondary-100: rgb(155, 155, 155);
    --clr-secondary-200: rgb(99, 99, 99);
    --clr-secondary-400: rgb(73, 73, 73);

    --clr-cover: rgba(49, 49, 49, 0.76);

    /*font*/
    --ff: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 900;

    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-410: 1.15rem;
    --fs-500: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin:0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
    background-color: var(--clr-primary-100);
    font-family: var(--ff);
}

.container {
  margin: 0 auto;
  padding: 1.5rem;
}